.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.4);
  transition: background 0.25s ease;
}

.overlayAfterOpen {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlayBeforeClose {
  background-color: unset;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 400px;

  background-color: #fff;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.2);
  transform: translateX(-102%);
  transition: transform 0.2s ease-out;
}

.containerAfterOpen {
  transform: none;
}

.containerBeforeClose {
  transform: translateX(-102%);
}

.closeButton {
  background: 0;
  border: 0;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 16px;

  width: 18px;
  height: 18px;
  box-sizing: content-box;
}

.closeButton svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.header {
  padding: 16px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;

  background: #f44336;
  color: #fff;
  font-size: 2.2em;
}

.content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content li {
  margin: 18px 16px;
}
